@model IEnumerable<ServiceCar.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoughtDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) zł
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoughtDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Informacje</a> |
                <a asp-controller="Fills" asp-action="Create">Tankowania</a> |
                <a asp-controller="Repairs" asp-action="Create">Naprawy</a>
            </td>
        </tr>
}
    </tbody>
</table>
